
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
}

p, a {
  font-family: "Lato";
}

.text-background {
  background-color: #e7e7e7;
}

.sidemenu {
  position: absolute;
  top: 50px;
  right: 50px;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .sidemenu {
    display: none;
  }
}
